body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#home #barra {
  width: 100vw;
  height: 100px;
  background-color: #171a21;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 999;
}

#home .ciao {
  color: orange;
  font-size: 35px;
  cursor: pointer;
}

#home .content {
  display: flex;
  width: 100vw;
  height: 50vh;
  background: black;
  color: purple;
  float: left;
  margin-top: 100px;
}

#home .content p {
  margin: auto;
  font-size: 25px;
}

#home .footer {
  display: flex;
  width: 100vw;
  height: 50vh;
  background: orange;
  color: purple;
  float: left;
}

#home .footer p {
  margin: auto;
  font-size: 25px;
}

